docs/UPS/Shipping/ShippingPACKAGE/PACKAGEWebServices/CodeSamples/Void/DotNet/VoidWSSample/VoidWSSample/Web References/VoidWebReference/common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:common="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" elementFormDefault="qualified" targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" version="201701" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Request" type="common:RequestType" />
  <xsd:element name="Response" type="common:ResponseType" />
  <xsd:element name="ClientInformation" type="common:ClientInformationType" />
  <xsd:complexType name="ClientInformationType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Property">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string">
              <xsd:attribute name="Key" type="xsd:string" use="required" />
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RequestOption" type="xsd:string" />
      <xsd:element minOccurs="0" name="SubVersion" type="xsd:string" />
      <xsd:element minOccurs="0" name="TransactionReference" type="common:TransactionReferenceType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransactionReferenceType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerContext" type="xsd:string" />
      <xsd:element ups:usage="notused" minOccurs="0" name="TransactionIdentifier" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="ResponseStatus" type="common:CodeDescriptionType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Alert" type="common:CodeDescriptionType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AlertDetail" type="common:DetailType" />
      <xsd:element minOccurs="0" name="TransactionReference" type="common:TransactionReferenceType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CodeDescriptionType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" />
      <xsd:element name="Description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetailType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" />
      <xsd:element name="Description" type="xsd:string" />
      <xsd:element minOccurs="0" name="ElementLevelInformation" type="common:ElementLevelInformationType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ElementLevelInformationType">
    <xsd:sequence>
      <xsd:element name="Level" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ElementIdentifier" type="common:ElementIdentifierType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ElementIdentifierType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>