docs/UPS/Shipping/ShippingPACKAGE/PACKAGEWebServices/CodeSamples/Void/DotNet/VoidWSSample/VoidWSSample/Web References/VoidWebReference/VoidWebServiceSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:void="http://www.ups.com/XMLSchema/XOLTWS/Void/v1.1" xmlns:common="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" elementFormDefault="qualified" targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/Void/v1.1" version="201601" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="common.xsd" namespace="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" />
  <xsd:element name="VoidShipmentRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Request" />
        <xsd:element name="VoidShipment">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ShipmentIdentificationNumber" type="xsd:string" />
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="TrackingNumber" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="VoidShipmentResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Response" />
        <xsd:element name="SummaryResult">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Status" type="void:CodeDescriptionType" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="PackageLevelResult" type="void:PackageLevelResult" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PackageLevelResult">
    <xsd:sequence>
      <xsd:element name="TrackingNumber" type="xsd:string" />
      <xsd:element name="Status" type="void:CodeDescriptionType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CodeDescriptionType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>