docs/UPS/Shipping/ShippingPACKAGE/PACKAGEXMLTools/Schemas/IF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" version="201801">
	<xsd:element name="InternationalForms" type="InternationalFormsType"/>
	<xsd:complexType name="InternationalFormsType">
		<xsd:sequence>
			<xsd:element name="FormType" type="xsd:string" maxOccurs="unbounded"/>
			<xsd:element name="UserCreatedForm" type="UserCreatedFormType" minOccurs="0"/>
			<xsd:element name="CN22Form" type="CN22FormType" minOccurs="0"/>
			<xsd:element name="UPSPremiumCareForm" type="UPSPremiumCareFormType" minOccurs="0"/>
			<xsd:element name="AdditionalDocumentIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FormGroupIdName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SEDFilingOption" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Contacts" type="ContactsType" minOccurs="0"/>
			<xsd:element name="Product" type="ProductType" maxOccurs="unbounded"/>
			<xsd:element ref="InvoiceNumber" minOccurs="0"/>
			<xsd:element name="InvoiceDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PurchaseOrderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="TermsOfShipment" minOccurs="0"/>
			<xsd:element ref="ReasonForExport" minOccurs="0"/>
			<xsd:element ref="Comments" minOccurs="0"/>
			<xsd:element ref="DeclarationStatement" minOccurs="0"/>
			<xsd:element name="Discount" type="DiscountType" minOccurs="0"/>
			<xsd:element name="FreightCharges" type="FreightChargesType" minOccurs="0"/>
			<xsd:element name="InsuranceCharges" type="InsuranceChargesType" minOccurs="0"/>
			<xsd:element name="OtherCharges" type="OtherChargesType" minOccurs="0"/>
			<xsd:element ref="CurrencyCode" minOccurs="0"/>
			<xsd:element name="BlanketPeriod" type="BlanketPeriodType" minOccurs="0"/>
			<xsd:element name="ExportDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExportingCarrier" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="CarrierID" minOccurs="0"/>
			<xsd:element name="InBondCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EntryNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PointOfOrigin" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ModeOfTransport" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PortOfExport" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PortOfUnloading" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LoadingPier" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="PartiesToTransaction" minOccurs="0"/>
			<xsd:element name="RoutedExportTransactionIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ContainerizedIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="License" type="LicenseType" minOccurs="0"/>
			<xsd:element name="ECCNNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ShipperMemo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OverridePaperlessIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MultiCurrencyInvoiceLineTotal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PointOfOriginType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EEIFilingOption" type="EEIFilingOptionType" minOccurs="0"/>
			<xsd:element name="HazardousMaterialsIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SavePartsIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LandedCostIndicator" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UPSPremiumCareFormType">
		<xsd:sequence>
			<xsd:element name="ShipmentDate" type="xsd:string"/>
			<xsd:element name="PageSize" type="xsd:string"/>
			<xsd:element name="PrintType" type="xsd:string"/>
			<xsd:element name="NumOfCopies" type="xsd:string"/>
			<xsd:element name="LanguageForUPSPremiumCare" type="LanguageForUPSPremiumCareType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LanguageForUPSPremiumCareType">
		<xsd:sequence>
			<xsd:element name="Language" type="xsd:string" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UserCreatedFormType">
		<xsd:sequence>
			<xsd:element name="DocumentID" type="xsd:string" maxOccurs="13"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CN22FormType">
		<xsd:sequence>
			<xsd:element name="LabelSize" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PrintsPerPage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LabelPrintType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22Type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22OtherDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FoldHereText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22Content" type="CN22ContentType" minOccurs="0" maxOccurs="30"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CN22ContentType">
		<xsd:sequence>
			<xsd:element name="CN22ContentQuantity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentWeight" type="ProductWeightType" minOccurs="0"/>
			<xsd:element name="CN22ContentTotalValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentCurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentCountryOfOrigin" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CN22ContentTariffNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AddressLine1" type="xsd:string"/>
	<xsd:element name="AddressLine2" type="xsd:string"/>
	<xsd:element name="AddressLine3" type="xsd:string"/>
	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element ref="AddressLine1" minOccurs="0"/>
			<xsd:element ref="AddressLine2" minOccurs="0"/>
			<xsd:element ref="AddressLine3" minOccurs="0"/>
			<xsd:element ref="City" minOccurs="0"/>
			<xsd:element ref="StateProvinceCode" minOccurs="0"/>
			<xsd:element ref="PostalCode" minOccurs="0"/>
			<xsd:element ref="CountryCode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="BeginDate" type="xsd:string"/>
	<xsd:complexType name="BlanketPeriodType">
		<xsd:sequence>
			<xsd:element ref="BeginDate"/>
			<xsd:element ref="EndDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CarrierID" type="xsd:string"/>
	<xsd:element name="City" type="xsd:string"/>
	<xsd:complexType name="ContactsType">
		<xsd:sequence>
			<xsd:element name="ForwardAgent" type="ForwardAgentType" minOccurs="0"/>
			<xsd:element name="UltimateConsignee" type="UltimateConsigneeType" minOccurs="0"/>
			<xsd:element name="IntermediateConsignee" type="IntermediateConsigneeType" minOccurs="0"/>
			<xsd:element name="Producer" type="ProducerType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CompanyName" type="xsd:string"/>
	<xsd:element name="Code" type="xsd:string"/>
	<xsd:complexType name="CodeType">
		<xsd:sequence>
			<xsd:element ref="Code"/>
			<xsd:element ref="Description" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CurrencyCode" type="xsd:string"/>
	<xsd:element name="CountryCode" type="xsd:string"/>
	<xsd:element name="Comments" type="xsd:string"/>
	<xsd:element name="CommodityCode" type="xsd:string"/>
	<xsd:element name="Date" type="xsd:string"/>
	<xsd:element name="DeclarationStatement" type="xsd:string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:complexType name="DiscountType">
		<xsd:sequence>
			<xsd:element ref="MonetaryValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="EndDate" type="xsd:string"/>
	<xsd:element name="ExportDate" type="xsd:string"/>
	<xsd:element name="ExportingCarrier" type="xsd:string"/>
	<xsd:complexType name="ForwardAgentType">
		<xsd:sequence>
			<xsd:element ref="CompanyName" minOccurs="0"/>
			<xsd:element ref="TaxIdentificationNumber" minOccurs="0"/>
			<xsd:element name="Address" type="AddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FreightChargesType">
		<xsd:sequence>
			<xsd:element ref="MonetaryValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InsuranceChargesType">
		<xsd:sequence>
			<xsd:element ref="MonetaryValue"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IntermediateConsigneeType">
		<xsd:sequence>
			<xsd:element ref="CompanyName" minOccurs="0"/>
			<xsd:element name="Address" type="AddressType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="InvoiceNumber" type="xsd:string"/>
	<xsd:complexType name="LicenseType">
		<xsd:sequence>
			<xsd:element ref="Number"/>
			<xsd:element ref="Date"/>
			<xsd:element name="ExceptionCode" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MarksAndNumbers" type="xsd:string"/>
	<xsd:element name="MonetaryValue" type="xsd:string"/>
	<xsd:complexType name="NetCostDateRangeType">
		<xsd:sequence>
			<xsd:element ref="BeginDate"/>
			<xsd:element ref="EndDate"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Number" type="xsd:string"/>
	<xsd:element name="NumberOfPackagesPerCommodity" type="xsd:string"/>
	<xsd:element name="OriginCountryCode" type="xsd:string"/>
	<xsd:complexType name="OtherChargesType">
		<xsd:sequence>
			<xsd:element ref="MonetaryValue"/>
			<xsd:element ref="Description" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PartiesToTransaction" type="xsd:string"/>
	<xsd:element name="PartNumber" type="xsd:string"/>
	<xsd:complexType name="PhoneType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string"/>
			<xsd:element name="Extension" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="PostalCode" type="xsd:string"/>
	<xsd:complexType name="ProductType">
		<xsd:sequence>
			<xsd:element ref="Description" maxOccurs="unbounded"/>
			<xsd:element name="Unit" type="UnitType" minOccurs="0"/>
			<xsd:element ref="CommodityCode" minOccurs="0"/>
			<xsd:element ref="PartNumber" minOccurs="0"/>
			<xsd:element name="AmazonStandardIdentificationNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UPCorEAN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PrimaryPartNumberType" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="OriginCountryCode" minOccurs="0"/>
			<xsd:element name="JointProductionIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NetCostCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NetCostDateRange" type="NetCostDateRangeType" minOccurs="0"/>
			<xsd:element name="PreferenceCriteria" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProducerInfo" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="MarksAndNumbers" minOccurs="0"/>
			<xsd:element ref="NumberOfPackagesPerCommodity" minOccurs="0"/>
			<xsd:element name="ProductWeight" type="ProductWeightType" minOccurs="0"/>
			<xsd:element name="VehicleID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ScheduleB" type="ScheduleBType" minOccurs="0"/>
			<xsd:element name="ExportType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SEDTotalValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExcludeFromForm" type="ExcludeFromFormType" minOccurs="0"/>
			<xsd:element name="ProductCurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PackingListInfo" type="PackingListInfoType" minOccurs="0"/>
			<xsd:element name="EEIInformation" type="EEIInformationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExcludeFromFormType">
		<xsd:sequence>
			<xsd:element name="FormType" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProducerType">
		<xsd:sequence>
			<xsd:element name="Option" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="CompanyName" minOccurs="0"/>
			<xsd:element ref="TaxIdentificationNumber" minOccurs="0"/>
			<xsd:element name="Address" type="AddressType" minOccurs="0"/>
			<xsd:element name="AttentionName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Phone" type="PhoneType" minOccurs="0"/>
			<xsd:element name="EMailAddress" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductWeightType">
		<xsd:sequence>
			<xsd:element ref="UnitOfMeasurement" minOccurs="0"/>
			<xsd:element ref="Weight"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Quantity" type="xsd:string"/>
	<xsd:element name="ReasonForExport" type="xsd:string"/>
	<xsd:element name="StateProvinceCode" type="xsd:string"/>
	<xsd:complexType name="ScheduleBType">
		<xsd:sequence>
			<xsd:element ref="Number"/>
			<xsd:element ref="Quantity" minOccurs="0" maxOccurs="2"/>
			<xsd:element ref="UnitOfMeasurement" minOccurs="0" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TaxIdentificationNumber" type="xsd:string"/>
	<xsd:element name="TermsOfShipment" type="xsd:string"/>
	<xsd:complexType name="UltimateConsigneeType">
		<xsd:sequence>
			<xsd:element ref="CompanyName" minOccurs="0"/>
			<xsd:element name="Address" type="AddressType" minOccurs="0"/>
			<xsd:element name="UltimateConsigneeType" type="UltimateConsigneeTypeType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UnitType">
		<xsd:sequence>
			<xsd:element ref="Number"/>
			<xsd:element ref="Value"/>
			<xsd:element ref="UnitOfMeasurement"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackingListInfoType">
		<xsd:sequence>
			<xsd:element name="PackageAssociated" type="PackageAssociatedType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PackageAssociatedType">
		<xsd:sequence>
			<xsd:element name="PackageNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProductAmount" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UnitOfMeasurement" type="CodeType"/>
	<xsd:element name="Value" type="xsd:string"/>
	<xsd:element name="Weight" type="xsd:string"/>
	<xsd:complexType name="EEILicenseType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LicenseLineValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ECCNNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EEIFilingOptionType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EMailAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UPSFiled" type="UPSFiledType" minOccurs="0"/>
			<xsd:element name="ShipperFiled" type="ShipperFiledType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UPSFiledType">
		<xsd:sequence>
			<xsd:element name="POA" type="POAType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShipperFiledType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PreDepartureITNNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExemptionLegend" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EEIShipmentReferenceNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EEIInformationType">
		<xsd:sequence>
			<xsd:element name="ExportInformation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="License" type="EEILicenseType" minOccurs="0"/>
			<xsd:element name="DDTCInformation" type="DDTCInformationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="POAType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UltimateConsigneeTypeType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DDTCInformationType">
		<xsd:sequence>
			<xsd:element name="ITARExemptionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="USMLCategoryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EligiblePartyIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RegistrationNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Quantity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UnitOfMeasurement" type="CodeType" minOccurs="0"/>
			<xsd:element name="SignificantMilitaryEquipmentIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ACMNumber" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
