docs/UPS/Shipping/ShippingPACKAGE/PACKAGEXMLTools/Schemas/ShipAcceptResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ups="http://www.ups.com/XMLSchema" elementFormDefault="qualified" version="201801">
	<xsd:element name="ShipmentAcceptResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Response"/>
				<xsd:element ref="ShipmentResults" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Response">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TransactionReference" minOccurs="0"/>
				<xsd:element ref="ResponseStatusCode"/>
				<xsd:element ref="ResponseStatusDescription" minOccurs="0"/>
				<xsd:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ResponseStatusCode" type="xsd:string"/>
	<xsd:element name="ResponseStatusDescription" type="xsd:string"/>
	<xsd:element name="TransactionReference">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CustomerContext" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Error">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ErrorSeverity"/>
				<xsd:element ref="ErrorCode"/>
				<xsd:element ref="ErrorDescription" minOccurs="0"/>
				<xsd:element ref="MinimumRetrySeconds" minOccurs="0"/>
				<xsd:element ref="ErrorLocation" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ErrorDigest" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ErrorCode" type="xsd:string"/>
	<xsd:element name="ErrorDescription" type="xsd:string"/>
	<xsd:element name="ErrorDigest" type="xsd:string"/>
	<xsd:element name="ErrorSeverity" type="xsd:string"/>
	<xsd:element name="ErrorLocation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ErrorLocationElementName" minOccurs="0"/>
				<xsd:element ref="ErrorLocationAttributeName" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ErrorLocationAttributeName" type="xsd:string"/>
	<xsd:element name="ErrorLocationElementName" type="xsd:string"/>
	<xsd:element name="ErrorLocationElementReference" type="xsd:string"/>
	<xsd:element name="MinimumRetrySeconds" type="xsd:string"/>
	<xsd:element name="ShipmentResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ShipmentCharges" minOccurs="0"/>
				<xsd:element ref="NegotiatedRates" minOccurs="0"/>
				<xsd:element ref="BillingWeight"/>
				<xsd:element name="Disclaimer" type="DisclaimerType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="ShipmentIdentificationNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="MIDualReturnShipmentKey" type="xsd:string" minOccurs="0"/>
				<xsd:element name="RatingMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element name="BillableWeightCalculationMethod" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="ControlLogReceipt" minOccurs="0"/>
				<xsd:element ref="PackageResults" maxOccurs="unbounded"/>
				<xsd:element name="Form" type="IntlForms" minOccurs="0"/>
				<xsd:element name="CODTurnInPage" type="CODImageType" minOccurs="0"/>
				<xsd:element name="HighValueReport" type="HighValueReportType" minOccurs="0"/>
				<xsd:element name="LabelURL" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LocalLanguageLabelURL" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ReceiptURL" type="xsd:string" minOccurs="0"/>
				<xsd:element name="LocalLanguageReceiptURL" type="xsd:string" minOccurs="0"/>
				<xsd:element name="DGPaperImage" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="SimpleRateType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>			
		</xsd:sequence>
	</xsd:element>
	<xsd:complexType name="DisclaimerType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ShipmentCharges">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="RateChart" type="xsd:string" minOccurs="0"/>
				<xsd:element ref="BaseServiceCharge" minOccurs="0"/>
				<xsd:element ref="TransportationCharges"/>
				<xsd:element ref="ServiceOptionsCharges"/>
				<xsd:element ref="ItemizedCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TaxCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TotalCharges"/>
				<xsd:element ref="TotalChargesWithTaxes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BaseServiceCharge" type="MonetaryType"/>
	<xsd:element name="TransportationCharges" type="MonetaryType"/>
	<xsd:element name="ServiceOptionsCharges" type="MonetaryType"/>
	<xsd:element name="ItemizedCharges" type="MonetaryType"/>
	<xsd:element name="TaxCharges" type="TaxChargeType"/>
	<xsd:element name="TotalCharges" type="MonetaryType"/>
	<xsd:element name="TotalChargesWithTaxes" type="MonetaryType"/>
	<xsd:complexType name="MonetaryType">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element ref="CurrencyCode" minOccurs="0"/>
			<xsd:element ref="MonetaryValue"/>
			<xsd:element name="SubType" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CurrencyCode" type="xsd:string"/>
	<xsd:element name="MonetaryValue" type="xsd:string"/>
	<xsd:complexType name="TaxChargeType">
		<xsd:sequence>
			<xsd:element name="Type" type="xsd:string"/>
			<xsd:element name="MonetaryValue" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NegotiatedRates">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ItemizedCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="TaxCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="NetSummaryCharges"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NetSummaryCharges">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="GrandTotal"/>
				<xsd:element ref="TotalChargesWithTaxes" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="GrandTotal">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CurrencyCode"/>
				<xsd:element ref="MonetaryValue"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BillingWeight">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="UnitOfMeasurement" minOccurs="0"/>
				<xsd:element name="Weight" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnitOfMeasurement" type="CodeType"/>
	<xsd:complexType name="CodeType">
		<xsd:sequence>
			<xsd:element ref="Code"/>
			<xsd:element ref="Description" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="Code" type="xsd:string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:element name="ControlLogReceipt" type="ImageType"/>
	<xsd:element name="ImageFormat" type="CodeType"/>
	<xsd:complexType name="ImageType">
		<xsd:sequence>
			<xsd:element ref="ImageFormat"/>
			<xsd:element ref="GraphicImage"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="GraphicImage" type="xsd:string"/>
	<xsd:element name="PackageResults">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="TrackingNumber"/>
				<xsd:element ref="BaseServiceCharge" minOccurs="0"/>
				<xsd:element ref="ServiceOptionsCharges" minOccurs="0"/>
				<xsd:element ref="LabelImage" minOccurs="0"/>
				<xsd:element ref="Receipt" minOccurs="0"/>
				<xsd:element name="USPSPICNumber" type="xsd:string" minOccurs="0"/>
				<xsd:element name="CN22Number" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Form" type="IntlForms" minOccurs="0"/>
				<xsd:element ref="Accessorial" minOccurs="0"/>
				<xsd:element ref="ItemizedCharges" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="NegotiatedCharges" minOccurs="0"/>
				<xsd:element name="SimpleRate" type="SimpleRateType" minOccurs="0"/>
				<xsd:element ref="SensorID" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="NegotiatedCharges">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ItemizedCharges" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrackingNumber" type="xsd:string"/>
	<xsd:element name="InternationalSignatureGraphicImage" type="xsd:string"/>
	<xsd:element name="HTMLImage" type="xsd:string"/>
	<xsd:element name="PDF417" type="xsd:string"/>
	<xsd:element name="Accessorial">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Code" type="xsd:string"/>
				<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LabelImage">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="LabelImageFormat"/>
				<xsd:element ref="GraphicImage"/>
				<xsd:element name="GraphicImagePart" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="InternationalSignatureGraphicImage" minOccurs="0"/>
				<xsd:element ref="HTMLImage" minOccurs="0"/>
				<xsd:element ref="PDF417" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="LabelImageFormat">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Code"/>
				<xsd:element ref="Description" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Receipt">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Image" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Image" type="ImageType"/>
	<xsd:complexType name="IntlForms">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"/>
			<xsd:element name="Description" type="xsd:string"/>
			<xsd:element ref="Image"/>
			<xsd:element name="FormGroupId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FormGroupIdName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CODImageType">
		<xsd:sequence>
			<xsd:element ref="Image"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="HighValueReportType">
		<xsd:sequence>
			<xsd:element ref="Image"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="MasterCartonID" type="xsd:string" minOccurs="0"/>
</xsd:schema>
