docs/UPS/Dangerous_Goods/DangerousGoodsWS/DangerousGoodsWSPACKAGE/CodeSamples/DangerousGoods/DotNet/DangerousGoodsWSSample/DangerousGoodsWSSample/Web References/WebReference/DangerousGoodsUtility.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ups="http://www.ups.com/XMLSchema" xmlns:dg="http://www.ups.com/XMLSchema/XOLTWS/DangerousGoodsUtility/v1.0" xmlns:common="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" elementFormDefault="qualified" targetNamespace="http://www.ups.com/XMLSchema/XOLTWS/DangerousGoodsUtility/v1.0" version="201701" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="common.xsd" namespace="http://www.ups.com/XMLSchema/XOLTWS/Common/v1.0" />
  <xsd:element name="AcceptanceAuditPreCheckRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Request" />
        <xsd:element minOccurs="0" name="OriginRecordTransactionTimestamp" type="xsd:string" />
        <xsd:element name="Shipment" type="dg:ShipmentType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ShipmentType">
    <xsd:sequence>
      <xsd:element name="ShipperNumber" type="xsd:string" />
      <xsd:element name="ShipFromAddress" type="dg:AddressType" />
      <xsd:element name="ShipToAddress" type="dg:AddressType" />
      <xsd:element name="Service" type="dg:ServiceType" />
      <xsd:element minOccurs="0" name="RegulationSet" type="xsd:string" />
      <xsd:element maxOccurs="unbounded" name="Package" type="dg:PackageType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AddressLine" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" type="xsd:string" />
      <xsd:element minOccurs="0" name="StateProvinceCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalCode" type="xsd:string" />
      <xsd:element name="CountryCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ServiceType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PackageType">
    <xsd:sequence>
      <xsd:element name="PackageIdentifier" type="xsd:string" />
      <xsd:element name="PackageWeight" type="dg:PackageWeightType" />
      <xsd:element minOccurs="0" name="QValue" type="xsd:string" />
      <xsd:element minOccurs="0" name="OverPackedIndicator" type="xsd:string" />
      <xsd:element minOccurs="0" name="TransportationMode" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmergencyPhone" type="xsd:string" />
      <xsd:element minOccurs="0" name="EmergencyContact" type="xsd:string" />
      <xsd:element maxOccurs="3" name="ChemicalRecord" type="dg:ChemicalRecordType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PackageWeightType">
    <xsd:sequence>
      <xsd:element name="Weight" type="xsd:string" />
      <xsd:element name="UnitOfMeasurement" type="dg:PackageWeightUOMType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PackageWeightUOMType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChemicalRecordType">
    <xsd:sequence>
      <xsd:element name="ChemicalRecordIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReportableQuantity" type="xsd:string" />
      <xsd:element minOccurs="0" name="ClassDivisionNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="SubRiskClass" type="xsd:string" />
      <xsd:element minOccurs="0" name="IDNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="PackagingGroupType" type="xsd:string" />
      <xsd:element minOccurs="0" name="Quantity" type="xsd:string" />
      <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
      <xsd:element minOccurs="0" name="PackagingInstructionCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="ProperShippingName" type="xsd:string" />
      <xsd:element minOccurs="0" name="TechnicalName" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="PackagingType" type="xsd:string" />
      <xsd:element minOccurs="0" name="HazardLabelRequired" type="xsd:string" />
      <xsd:element minOccurs="0" name="PackagingTypeQuantity" type="xsd:string" />
      <xsd:element name="CommodityRegulatedLevelCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="TransportCategory" type="xsd:string" />
      <xsd:element minOccurs="0" name="TunnelRestrictionCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="AllPackedInOneIndicator" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AcceptanceAuditPreCheckResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Response" />
        <xsd:element minOccurs="0" name="ShipperNumber" type="xsd:string" />
        <xsd:element minOccurs="0" name="Service" type="dg:ServiceType" />
        <xsd:element minOccurs="0" name="RegulationSet" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="PackageResults" type="dg:PackageResultsType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PackageResultsType">
    <xsd:sequence>
      <xsd:element name="PackageIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccessibleIndicator" type="xsd:string" />
      <xsd:element minOccurs="0" name="EuropeBUIndicator" type="xsd:string" />
      <xsd:element maxOccurs="3" name="ChemicalRecordResults" type="dg:ChemicalRecordResultsType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChemicalRecordResultsType">
    <xsd:sequence>
      <xsd:element name="ChemicalRecordIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="ADRPoints" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ChemicalReferenceDataRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Request" />
        <xsd:element minOccurs="0" name="IDNumber" type="xsd:string" />
        <xsd:element minOccurs="0" name="ProperShippingName" type="xsd:string" />
        <xsd:element name="ShipperNumber" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ChemicalReferenceDataResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="common:Response" />
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="ChemicalData" type="dg:ChemicalDataType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ChemicalDataType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ChemicalDetail" type="dg:ChemicalDetailType" />
      <xsd:element minOccurs="0" name="ProperShippingNameDetail" type="dg:ProperShippingNameDetailType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PackageQuantityLimitDetail" type="dg:PackageQuantityLimitDetailType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChemicalDetailType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="RegulationSet" type="xsd:string" />
      <xsd:element minOccurs="0" name="IDNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="HazardousMaterialsDescription" type="xsd:string" />
      <xsd:element minOccurs="0" name="ClassDivisionNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="SubRiskClass" type="xsd:string" />
      <xsd:element minOccurs="0" name="PackagingGroupType" type="xsd:string" />
      <xsd:element minOccurs="0" name="SpecialPermit" type="xsd:string" />
      <xsd:element minOccurs="0" name="TechnicalNameRequiredIndicator" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalShippingInformationRequiredIndicator" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProperShippingNameDetailType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="ProperShippingName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PackageQuantityLimitDetailType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PackageQuantityLimitTypeCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="Quantity" type="xsd:string" />
      <xsd:element minOccurs="0" name="UOM" type="xsd:string" />
      <xsd:element minOccurs="0" name="PackagingInstructionCode" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>